<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile-yandex.map-type-dropdown.caption"}}
  </label>
  {{flexberry-dropdown
    items=(array "map" "satellite" "hybrid" "publicMap" "publicMapHybrid")
    value=settings.type
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile-yandex.js-api-url-textbox.caption"}}
  </label>
  {{flexberry-textbox
    value=settings.jsApiUrl
  }}
</div>
<div class="field">
  <label>
    {{t "components.layers-dialogs.settings.tile-yandex.detect-language-automatically-checkbox.caption"}}
  </label>
  {{flexberry-checkbox
    value=settings.detectLanguageAutomatically
  }}
</div>
